/***   elements height styles***/

.wrapper {
    height: 100% !important;
}

.footer {
    position: absolute;
    bottom: -20px;
}


/*****  sidebar styles   *****/

.sidebar .logo .simple-text {
    font-weight: bold;
}

.sidebar .sidebar-wrapper li:nth-child(1):hover a,
.sidebar .sidebar-wrapper li:nth-child(1) a i {
    color: rgb(253, 153, 18);
    font-weight: bold;
}

.sidebar .sidebar-wrapper li:nth-child(2):hover a,
.sidebar .sidebar-wrapper li:nth-child(2) a i {
    color: rgb(87, 175, 91);
    font-weight: bold;
}

.sidebar .sidebar-wrapper li:nth-child(3):hover a,
.sidebar .sidebar-wrapper li:nth-child(3) a i {
    color: rgb(29, 192, 212);
    font-weight: bold;
}

.sidebar .sidebar-wrapper li:nth-child(4):hover a,
.sidebar .sidebar-wrapper li:nth-child(4) a i {
    color: rgb(156, 39, 176);
    font-weight: bold;
}

.sidebar .sidebar-wrapper li:nth-child(5):hover a,
.sidebar .sidebar-wrapper li:nth-child(5) a i {
    color: rgb(235, 72, 69);
    font-weight: bold;
}